openapi: 3.0.0
info:
  description: The Archive API provides lists of NYT articles by month going back to 1851.  You can use it to build your own local database of NYT article metadata.
  termsOfService: http://developer.nytimes.com/tou
  title: The New York Times Archive Content API
  version: 1.0.0
  x-apiClientRegistration:
    url: http://developer.nytimes.com/signup
  x-apisguru-categories:
  - media
  - open_data
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_static01.nyt.com_images_icons_t_logo_291_black.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/nytimes/public_api_specs/master/archive_api/archive_api.json
    version: '3.0'
  x-providerName: nytimes.com
  x-serviceName: archive
servers:
- url: http://api.nytimes.com/svc/archive/v1
- url: https://api.nytimes.com/svc/archive/v1
security:
- apikey: []
tags:
- name: Content
paths:
  /content/{source}/{section}.json:
    get:
      parameters:
      - name: source
        in: path
        description: 'Limits the set of items by originating source.


          all = items from both The New York Times and The International New York Times

          nyt = New York Times items only

          inyt = International New York Times items only (FKA The International Herald Tribune)

          '
        required: true
        schema:
          type: string
          enum:
          - all
          - nyt
          - inyt
          x-consoleDefault: all
        x-consoleDefault: all
      - name: section
        in: path
        description: "Limits the set of items by a section.\nall | A section name\n\n To get all sections, specify all. To get a particular section, use the section name returned by this request:\n http://api.nytimes.com/svc/news/v3/content/section-list.json\n"
        required: true
        schema:
          type: string
          default: all
          x-consoleDefault: all
        x-consoleDefault: all
      - name: limit
        in: query
        description: Limits the number of results.  Set to increment of 20 up to 500.
        schema:
          multipleOf: 20.0
          maximum: 500
          minimum: 20
          type: integer
          default: 20
      - name: offset
        in: query
        description: Sets the starting point of the result set.
        schema:
          multipleOf: 20.0
          maximum: 500
          minimum: 0
          type: integer
          default: 0
      responses:
        '200':
          description: An array of Articles
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  copyright:
                    type: string
                  num_results:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Article'
        '400':
          description: Bad request.  Check your query parameters.
          content: {}
        '401':
          description: Unauthorized request.  Make sure api-key is set.
          content: {}
        '429':
          description: Too many requests.  You reached your per minute or per day rate limit.
          content: {}
      tags:
      - Content
  /content.json:
    get:
      parameters:
      - name: url
        in: query
        description: The complete URL of a specific news item, URL-encoded or backslash-escaped
        required: true
        schema:
          type: string
          default: https%3A%2F%2Fwww.nytimes.com%2F2018%2F09%2F19%2Fworld%2Fasia%2Fnorth-south-korea-nuclear-weapons.html
      responses:
        '200':
          description: An array of Articles
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  copyright:
                    type: string
                  num_results:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Article'
        '400':
          description: Bad request.  Check your query parameters.
          content: {}
        '401':
          description: Unauthorized request.  Make sure api-key is set.
          content: {}
        '429':
          description: Too many requests.  You reached your per minute or per day rate limit.
          content: {}
      tags:
      - Content
  /content/section-list.json:
    get:
      responses:
        '200':
          description: An array of Sections
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  copyright:
                    type: string
                  num_results:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Section'
        '400':
          description: Bad request.  Check your query parameters.
          content: {}
        '401':
          description: Unauthorized request.  Make sure api-key is set.
          content: {}
        '429':
          description: Too many requests.  You reached your per minute or per day rate limit.
          content: {}
      tags:
      - Content
components:
  schemas:
    Article:
      type: object
      properties:
        section:
          type: string
        subsection:
          type: string
        title:
          type: string
          description: Article headline.
        abstract:
          type: string
          description: Article summary.
        uri:
          type: string
          description: Uniquely identifies an article.
        url:
          type: string
          description: Article URL.
        short_url:
          type: string
        byline:
          type: string
        thumbnail_standard:
          type: string
        item_type:
          type: string
        source:
          type: string
          description: Publication ("International New York Times" or "New York Times").
        updated_date:
          type: string
        created_date:
          type: string
        published_date:
          type: string
        material_type_facet:
          type: string
        kicker:
          type: string
        headline:
          type: string
        des_facet:
          type: array
          items:
            type: string
        org_facet:
          type: string
        per_facet:
          type: array
          items:
            type: string
        geo_facet:
          type: array
          items:
            type: string
        blog_name:
          type: string
        related_urls:
          type: array
          items:
            type: object
            properties:
              suggested_link_text:
                type: string
              url:
                type: string
        multimedia:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              format:
                type: string
              height:
                type: integer
              width:
                type: integer
              type:
                type: string
              subtype:
                type: string
              caption:
                type: string
              copyright:
                type: string
    Section:
      type: object
      properties:
        section:
          type: string
        display_name:
          type: string
  securitySchemes:
    apikey:
      in: query
      name: api-key
      type: apiKey
externalDocs:
  url: http://developer.nytimes.com/
